head {
    position: relative;
}


/*Menu*/

a {
    text-decoration: none;
    color: black;
}

.imageLogo {
    width: 250px;
    height: 79.89px;
    padding: 3px 0px 3px 0px;
}

.imageFooter {
    display: flex;
}

.imageFooter img {
    width: 100%;
}

.imgDMCA {
    margin-top: 5px;
    margin-left: 5px;
}

img {
    display: block;
}

input:focus {
    outline: 0;
}

.input-header {
    width: 558px;
    border-style: outset;
}

.searchMain {
    width: 550px;
    height: 33.06px;
    position: absolute;
}

.searchHeader {
    padding: 25px 0px 0px 20px;
}

.shopping {
    padding: 26px 0px 0px 0px;
}

nav {
    display: block;
    margin-left: 70px;
    position: absolute;
    padding: 3px 0px 3px 0px;
    background-color: black;
}

.find {
    background-color: gray;
    height: 32px;
    width: 36px;
    margin-top: 0.5px;
    left: 1046px;
    border: none;
    z-index: 1;
    position: absolute;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-item {
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.nav-item:hover {
    background-color: darkgrey;
}

.dropdown-menu {
    border-radius: 10%;
}

.dropdown-menu a:hover {
    /* background-color: rgb(105, 216, 105); */
    background-color: darkgrey;
}

#menu-con ul {
    width: 500px;
}

#menu-con li {
    list-style: none;
}

.uppercase {
    text-transform: uppercase;
    font-size: 30px;
}

li {
    list-style: none;
}


/*Body*/

.img-thumbnail {
    height: 80px;
    max-width: 100%;
}

fieldset img {
    vertical-align: middle;
}


/*Rating*/

.rating {
    direction: rtl;
    unicode-bidi: bidi-override;
    width: 165px;
}

.rating input {
    display: none;
}

.rating label {
    display: inline-block;
    padding: 0px;
    font-size: 35px;
    color: #ddd;
    color: #ffce00;
    cursor: pointer;
}

.rating label::before {
    content: "\2605";
    position: relative;
}

.rating input:checked~label {
    color: #ffce00;
}


/* .rating label:hover,
.rating label:hover~label {
    color: #ffce00;
} */

.Breadcrumb {
    background-color: #446084;
    width: 100%;
    font-size: 17px;
    margin-left: 280px;
}